
header#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme);
  color: var(--contrast);
  padding: 0.5rem 2rem; 
  box-shadow: 0 0.4rem 0.6rem var(--shadow); /* 4px x 6px shadow */
  position: sticky;
  top: 0;
  z-index: 10000;

  /* Logo and title */
  .logo-title h1 a {
    font-size: 2rem;
    font-weight: 700;
    color: var(--contrast);
    margin: 0;
    transition: color 0.2s ease;
  }

  .user-details {

    span {
      margin: 0;
      font-size: 1.6rem;
    }

    .profile-picture {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 100%;
      border: 0.2rem solid var(--contrast);
      background: var(--theme-dark);
      margin: 0;
    }
  }


  /* User profile area (e.g. login, profile icon) */
  nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--contrast);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
  }

  nav a:hover {
    color: var(--bright);
  }

}


.default-select {
  background-color: var(--theme);
  color: var(--contrast);
  border: none;
  padding: 0.6rem 1rem; /* 6px top/bottom, 10px left/right */
  border-radius: 0.6rem;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 0.4rem var(--shadow);
  cursor: pointer;
  appearance: none; /* hide native dropdown arrow */
  background-image: url("data:image/svg+xml,%3Csvg fill='%23FAE1DF' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2rem;
  min-width: 12rem;

  &.dark {
    background-color: var(--theme-dark);
  }
}

.default-select:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--bright);
}