:root {
  background: var(--contrast);
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
}

.dark-bg {
  background: var(--theme-dark);
}

.dark-text:not(.error-message) {
  color: var(--theme);

  *:not(button, .error-message) {
    color: var(--theme);
  }

  *:not(h1, h2) {
    font-size: 1.6rem;
  }
  
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

.white-text:not(.error-message) {
  color: var(--contrast);

  *:not(button, .error-message) {
    color: var(--contrast);
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}


main#service-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;

  .current-meals {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

}

.input-container {
  background: var(--contrast);
  padding: 1rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  border: 0.2rem solid var(--theme);
  box-shadow: 0 0.2rem 0.4rem var(--shadow);
}

input[type="text"]:not(.normal-input) {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--theme);

  &:focus {
    outline: none;
  }
}

button, .button {
  transition: box-shadow 0.15s ease-out;
  background: var(--theme);
  color: var(--contrast);
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 0.7rem;

  &:disabled {
    filter: brightness(0.8);
    pointer-events: none;
  }

  &.no-bg {
    background: none;
    border-radius: 0;
    border: none;
    border-left: 0.2rem solid rgba(0, 0, 0, 0);
    border-right: 0.2rem solid  rgba(0, 0, 0, 0);

    &:not(.white-text) {
      color: var(--theme);
    }
  }

  &.no-bg:hover {
    border-left: 0.2rem solid var(--theme);
    border-right: 0.2rem solid var(--theme);

    &:not(.white-text) {
      color: var(--shadow);
    }
  }

  &:hover:not(.no-bg, .day-button) {
    background: var(--theme-dark);
    box-shadow: 0 0rem 0.8rem var(--shadow);
  }

  &.selected {
    background: var(--contrast);
    color: var(--theme);
  }
}

form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

#map {
  position: relative;
  width: 100%;
  height: 60rem;
  max-width: 100rem;
  margin: 0;
  margin-top: 6rem;
}

.error-message {
  color: var(--error);
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
  padding: 0;

  * {
    color: var(--error);
    font-size: 1.6rem;
  }
}

.title {
  text-align: center;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  left: 0;
  top: 0;
  margin: 2rem;
  z-index: 1000;
  
}

.search-results {
  position: absolute;
  left: 1rem;
  top: 4.5rem;
  margin: 2rem;
  z-index: 900;
  border: 0.2rem solid var(--contrast);
  box-shadow: 0 0.2rem 0.4rem var(--shadow);
  background: var(--theme);
  width: 30rem;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;

  &.on-map {
    left: 6rem;
  }

  li {
    padding: 1rem;
    font-size: 2rem;
    color: var(--contrast);
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }

  li:hover {
    background: var(--theme-dark);
  }
}

.day-button {
  width: 12rem;
  border-radius: 6rem;
  margin: 0.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  &.center {
    justify-content: center;
  }
}

.map-width {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: -2rem;
}
.neat-padding {
  padding: 0.5rem 1rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0.2rem 0.4rem var(--shadow);
}

.large {
  img {
    width: 4.2rem;
  }
}